.Tilt {
    background: linear-gradient(-45deg, #054b91, #c607668e, 
    #096bcc, #eb0a7a8e, #177de4b6);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}